.scaleWrapper {
  padding: 100px 0;
}

.scale {
  position: relative;
}

.tick {
  position: absolute;
  display: flex;
  column-gap: 16px;
  align-items: center;
  width: 100%;
  transform: translateY(-50%);
}

.tickLine {
  flex-grow: 1;
  height: 1px;
  background: linear-gradient(90deg, var(--color-neutral-100), transparent);
}

.tickLabel {
  font-family: var(--font-mono);
  font-size: var(--font-2xsm);
  color: var(--color-foreground-subtler);
}

.dataPoint {
  position: absolute;
  right: 0;
  display: flex;
  column-gap: 12px;
  align-items: center;
  width: calc(100% - 70px);
  transform: translateY(-50%);
}

.marker {
  width: 10px;
  height: 1px;
  background-color: var(--color-foreground-subtle);
}

.label {
  font-size: var(--font-xsm);
  text-shadow: 0 4px 3px var(--color-neutral-50);

  & span {
    font-family: var(--font-mono);
    font-size: var(--font-2xsm);
    color: var(--color-foreground-subtler);
  }
}
