.timelineWrapper {
  margin-top: 50px;
}

.timeline {
  display: flex;
  column-gap: 12px;
  margin-top: 20px;

  & .line {
    width: 1px;
    height: 100%;
    background-color: var(--color-neutral-950);
  }

  & .labels {
    position: relative;
    flex-grow: 1;
    height: 100%;

    & .event {
      position: absolute;
      left: 0;
      font-size: var(--font-2xsm);
      font-weight: 500;
      line-height: 1;
      transform: translateY(-50%);

      & span {
        font-weight: 400;
        color: var(--color-foreground-subtler);
      }
    }
  }
}
