---
import { Container } from './container';
---

<Container>
  <section class="hero">
    <img
      alt="Omniscale Logo"
      class="logo"
      height="30"
      src="/logo.svg"
      width="30"
    />
    <h1>Omniscale</h1>
    <p>From galaxies to atoms—where are you?</p>
  </section>
</Container>

<style>
  .hero {
    padding: 100px 0 72px;

    & .logo {
      display: block;
      width: 30px;
      height: 30px;
      margin-bottom: 16px;
    }

    & h1 {
      font-family: var(--font-display);
      font-size: var(--font-lg);
      font-weight: 700;
    }

    & p {
      margin-top: 4px;
      font-size: var(--font-sm);
      line-height: 1.6;
      color: var(--color-foreground-subtle);
    }
  }
</style>
