---
import { Container } from './container';
---

<Container>
  <section class="reflection">
    <h2>A Reflection</h2>
    <p>
      This scale is a journey through the fabric of existence, from the colossal
      expanse of the universe to the tiniest fragments of reality. It’s a
      reminder that we exist between two infinities—vast galaxies above and
      mysterious particles below. Each point on this continuum tells a story of
      forces and forms far beyond our everyday grasp, yet intimately connected
      to our being. As you traverse this scale, you’re not just observing size,
      but contemplating the hidden order of everything, from the stars to the
      building blocks of matter. It’s a cosmic reflection on how small, yet
      astonishingly significant, we truly are.
    </p>
  </section>
</Container>

<style>
  .reflection {
    padding: 72px 0 30px;

    & h2 {
      font-family: var(--font-display);
      font-size: var(--font-md);
      font-weight: 700;
    }

    & p {
      margin-top: 8px;
      font-size: var(--font-sm);
      line-height: 1.7;
      color: var(--color-foreground-subtle);
    }
  }
</style>
