.timelineWrapper {
  margin-top: 50px;

  & h2 {
    margin-bottom: 4px;
    font-family: var(--font-display);
    font-size: var(--font-sm);
    font-weight: 700;
    color: var(--color-foreground);
  }

  & .scale {
    margin-bottom: 24px;
    font-size: var(--font-sm);
    color: var(--color-foreground-subtle);
  }
}

.timeline {
  display: flex;
  column-gap: 12px;

  & .line {
    width: 1px;
    height: 100%;
    background-color: var(--color-neutral-950);
  }

  & .labels {
    position: relative;
    flex-grow: 1;
    height: 100%;

    & .event {
      position: absolute;
      left: 0;
      display: flex;
      flex-wrap: wrap;
      column-gap: 4px;
      font-size: var(--font-2xsm);
      font-weight: 500;
      line-height: 1;
      transform: translateY(-50%);

      & .dash {
        font-weight: 400;
        color: var(--color-foreground-subtler);
      }

      & .years {
        font-weight: 400;
        color: var(--color-foreground-subtle);
      }

      & button {
        display: inline;
        padding: 0;
        font-weight: 500;
        color: var(--color-foreground-subtler);
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
  }
}
